{%extends 'poll_base.html' %}
{%block title%}About{%endblock%}
{%block body %}
<div style="font-size:100%">
  <div style="text-align:left; width:800px; margin: 0 auto;"><h4>About PicPoll.in (picpollin')</h4><br/>
    PicPoll.in is the site where you can create and share your own polls with a pic.<br/>
    All this as anonymous:)<br/>
    Apart of the fun associated with it you can also show it to your boss and get promoted.<br/>
    <br/>
    <br/>
    <h4>About the author</h4><br/>
    I am a a developer, a music lover and have a pathetic sense of humour. I enjoy wasting my time with my friends.<br/>
    <br/>
    If you have any bugs or suggestions you can contact me on <a href="mailto:confessin@gmail.com">confessin@gmail.com</a>
    Soon I will be updating a bug tracker for this
    
    I will just leave it there if you want to contact me for the awesome i am destined to have(without a boss)<br/>
    <!-- Facebook Badge START --><a href="http://www.facebook.com/rafi.was.not.available" target="_TOP" style="font-family: &quot;lucida grande&quot;,tahoma,verdana,arial,sans-serif; font-size: 11px; font-variant: normal; font-style: normal; font-weight: normal; color: #3B5998; text-decoration: none;" title="Mohammad Rafi">Mohammad Rafi</a><br/><a href="http://www.facebook.com/rafi.was.not.available" target="_TOP" title="Mohammad Rafi"><img src="http://badge.facebook.com/badge/707845280.6356.98757742.png" style="border: 0px;" /></a><br/><a href="http://www.facebook.com/badges/" target="_TOP" style="font-family: &quot;lucida grande&quot;,tahoma,verdana,arial,sans-serif; font-size: 11px; font-variant: normal; font-style: normal; font-weight: normal; color: #3B5998; text-decoration: none;" title="Make your own badge!">Create Your Badge</a><!-- Facebook Badge END -->
    <br/>
    <br/>
    <img src="{{MEDIA_URL}}images/the_end.jpg">

    <pre>
    #TODO:
    Better facebook integration(with an ability to poll results as well
    make it work on IE(Bleh)
    change the share butttons(write your own)
    SEO
    </pre>

  </div>
{%endblock%}
