{%extends 'poll_base.html' %}
{%block title%}Vote Or Die Campaign{%endblock%}
{%block body %}
<div style="font-size:100%">
  <img src="{{MEDIA_URL}}images/vote_or_die.jpg" width="300px">
    <pre>
      Vote or die motherfucker 
      Motherfucker vote or die 
      Rock the vote or else I'm gonna stick a knife through your eye 

      Democracy is founded on one simple rule 
      Get out there and vote or I will motherfucking kill you 

      I like it when you vote, bitch 
      Shake them titties when you vote, bitch 
      I'll slam my jimmy through your mouth roof 
      Now get your big ass in the polling booth 

      I said vote bitch or I'll fucking kill you 

      Vote or die motherfucker 
      Motherfucker vote or die 
      Can't run from a .38, go ahead and try. 

      Let your opinion be heard 
      You've gotta make a choice 
      Cause after I slit your throat 
      You won't have a fucking voice 

      Vote or Die 
      Vote or Die


      -Sir Shree Shree P. Diddy On Not Voting

      Still think you shouldn't vote??
    </pre>
</div>
{%endblock body %}
